.sidebar-btn {
    width: 20px;
    height: 80px;
    border: none;
    outline: none;
    background: #0064e6;
    color: white;
    border-radius: 0px;
    border-top-right-radius: 22px;
    border-bottom-right-radius: 22px;
    position: absolute;
    top: calc(50% - 10px);
    right: -20px;
    z-index: 99;
    cursor: pointer;
  }

  .sidebar-content-wrapper {
    width: var(--sidebar-width);
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .sidebar {
    height: 100%;
    background: #FEFEFE;
    position: relative;
    transition: 0.5s;
  }
  .sidebar-close {
    grid-template-columns: 0 1fr 400px;
    transition: 0.5s;
  }